
@{
    ViewBag.Title = "Art";
}

<h2>Art</h2>
<div class="footerInstallation">
    <input type="button" class="btn btn-info" value="<< zurück" onclick="location.href='@Url.Action("Lage", "Home")'" />
    <input type="button" class="btn btn-info" style="float: right;" value="weiter >>" onclick="location.href='@Url.Action("Ausrichtung", "Home")'" />
</div>


