
@{
    ViewBag.Title = "Ausrichtung";
}

<h2>Ausrichtung</h2>
<div class="footerInstallation">
    <input type="button" class="btn btn-info" value="<< zurück" onclick="location.href='@Url.Action("Art", "Home")'" />
    <input type="button" class="btn btn-info" style="float: right;" value="weiter >>" onclick="location.href='@Url.Action("Oberfläche", "Home")'" />
</div>

